.Dictionary section {
  background: #74bdcb;
  color: #e7f2f8;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 5px;
  margin: 20px;
}
.Dictionary .btn {
  background: #658ea9;
  color: #e7f2f8;
}
.Dictionary .btn:hover {
  background: #353643;
  transition: 200ms;
  cursor: pointer;
}
